.Buttons{
    float: left; 
    display: flex;
    position: relative; 
    height: 100%; 
    align-Items: center; 
    justify-content: center;
}

.AddButton {
    border: 2px solid;
    border-color: darkblue;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    float: left; 
}

.DeleteButton {
    border: 2px solid;
    border-color: darkblue;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    float: left;
}